Flask==1.1.1
imutils==0.5.3
Pillow==12.1.0
opencv-python==4.13.0.90
scikit-image==0.26.0
numpy==2.4.2
scipy==1.17.0
networkx==3.6.1
imageio==2.37.2
tifffile==2026.1.28
lazy-loader==0.4
packaging==26.0
